# CIFTI files for testing
*.nii

# Output ROI folder for resting
roi_outputs/

# Files created during processing
seedmap_dir_*
results.csv

# R files
**/*.RData
**/*.Rhistory

# This is for local use only
old_containers